name: Check CI

on:
  push:
    branches:
      - master
      - release
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  spotless:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Check Spotless
        run: ./gradlew spotlessCheck --stacktrace

  api-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Check API
        run: ./gradlew apiCheck --stacktrace

  lint:
    needs: [spotless, api-check]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Lint
        run: ./gradlew lint --stacktrace

  test:
    needs: [spotless, api-check]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Test
        run: ./gradlew test --stacktrace

      - name: Upload build reports
        uses: actions/upload-artifact@v4
        with:
          name: build-reports
          path: '**/build/reports'

  assemble:
    needs: [spotless, api-check]
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Assemble
        run: ï½œ
          ./gradlew \
          :image-loader:assemble \
          :image-loader-singleton:assemble \
          :extension:compose-resources:assemble \
          :extension:imageio:assemble \
          :extension:ktor-network:assemble \
          :extension:moko-resources:assemble \
          :extension:nine-patch:assemble \
          :extension:svg:assemble \
          --stacktrace

  build:
    needs: [spotless, api-check]
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Build
        run: |
          ./gradlew kotlinUpgradeYarnLock \
          :image-loader:build \
          :image-loader-singleton:build \
          :extension:compose-resources:build \
          :extension:imageio:build \
          :extension:ktor-network:build \
          :extension:moko-resources:build \
          :extension:nine-patch:build \
          :extension:svg:build \
          --stacktrace
