name: Check CI

on:
  push:
    branches:
      - master
      - release
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  spotless:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Check spotless
        run: ./gradlew spotlessCheck --stacktrace

  lint:
    needs: spotless
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Lint
        run: ./gradlew lint --stacktrace

  test:
    needs: spotless
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Test
        run: ./gradlew test --stacktrace

      - name: Upload build reports
        uses: actions/upload-artifact@v3
        with:
          name: build-reports
          path: '**/build/reports'

  assemble:
    needs: spotless
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17

      #      - name: Setup Gradle
      #        uses: gradle/gradle-build-action@v2
      #        with:
      #          gradle-home-cache-cleanup: true
      #          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      # Cleans managed device if previously settle and space currently is not available
      #      - name: Clean Managed Devices
      #        run: ./gradlew cleanManagedDevices --unused-only

      - name: Assemble
        run: |
          ./gradlew kotlinUpgradeYarnLock \
            :image-loader:assemble \
            :extension:blur:assemble \
            :extension:imageio:assemble \
            :extension:moko-resources:assemble \
            --stacktrace -PnoAppApple \
            -Pandroid.testoptions.manageddevices.emulator.gpu="swiftshader_indirect"

  build:
    needs: spotless
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17

      #      - name: Setup Gradle
      #        uses: gradle/gradle-build-action@v2
      #        with:
      #          gradle-home-cache-cleanup: true
      #          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      # Cleans managed device if previously settle and space currently is not available
      #      - name: Clean Managed Devices
      #        run: ./gradlew cleanManagedDevices --unused-only

      - name: Build
        run: |
          ./gradlew kotlinUpgradeYarnLock \
            :image-loader:build \
            :extension:blur:build \
            :extension:imageio:build \
            :extension:moko-resources:build \
            --stacktrace -PnoAppApple \
            -Pandroid.testoptions.manageddevices.emulator.gpu="swiftshader_indirect"
